#login-bg {
    background-color: #f0f0f0;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}
/* #login-container {
    animation: slide-in 0.7s ease-in-out;
} */

@keyframes slide-in {
    from {
        transform: translateY(-50%);
    }
}


#login-container{
    /* background: url("./login-bg.webp") ; */
    /* background: linear-gradient( #00000055, white), url("./login-bg.webp") ; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.animate-1{
    /* right: 100% */
    transition: .2s ease all;
}
#login-container:hover .animate-1{
    left: 0;
    right: 0px;
    transition: .2s ease all;
}